#######################################
# Ignore everything
#######################################

/*

#######################################
# Project
#######################################

!/Assets
!/ProjectSettings
